#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS */

.title{
  margin-bottom: 0;
}

.subheader{
  font-weight: 300;
  font-size: smaller;
  margin-top: 0;
  margin-bottom: 30px;
}

.compress{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.compress .original-image, .compress .compressed-image{
  width: 256px;
  height: 256px;
  background-color: #fafafa;
}

.user-params{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;

  margin-bottom: 20px;
}

.user-params .image-selection p{
  margin-bottom: 5px;
  font-size: small;
  align-self: flex-start;
  margin-left: 10px;
}

.user-params .image-selection select{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9b30ff;
  cursor: pointer;
  transition: border-color 0.25s;

  width: 100%;
}

.image-selection{
  display: flex;
  flex-direction: column
  ;
}

/* METRICS */

.metrics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.values{
  display: flex;
  gap: 50px;
  
}

.values h4{
  display: flex;
  align-items: center;
  margin-top: 0;
  gap: 5px;
}

.google-forms{
  background-color: #9b30ff;
  padding: 15px;
  border-radius: 20px;
  margin-top: 30px;
}